app-products{
    .wrapper{
        margin-top: 20px;
        .table{
            width: 100%;
            tr{
                td{
                    img{
                        width: 80px;
                    }
                    &.actions{
                        a.button.is-danger{
                            margin-left: 15px;
                        }
                    }
                }
              
            }
        }
    }
}