app-login{
    .hero{
        width: 100%;
        background-color:#212733;
    }
    .notification{
        position: absolute;
    top: 120px;
    width: 264px;
    display: block;
    height: 100px;
    right: 120px;
    }
}